@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap");

/* Define global variables in :root */
:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --gray-900: hsl(0, 0%, 8%); /* Used for title and author link */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--yellow);
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 384px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
}

.card__img {
  margin: 24px;
  border-radius: 10px;
}

.card__content {
  padding: 0px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__tag {
  display: inline-flex;
  inline-size: 60px;

  border-radius: 4px;
  padding: 4px 12px;
  background-color: var(--yellow);
  display: inline-block;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.card__time {
  color: var(--gray-950);
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.card__title {
  margin: 0px;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--gray-900);
}

.card__text {
  margin: 0px;
  color: var(--gray-500);
  font-family: "Figtree", sans-serif;
  line-height: 150%;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
}

.card__author {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.card__avatar {
  width: 32px;
  height: 32px;
}

.card__author-link {
  text-decoration: none;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--gray-900);
}
